:root {
    --fontNunitoPrim: "Nunito Sans", sans-serif;
    --fontRalewaySec: "Raleway", sans-serif;
    --grayColor: rgb(34, 34, 34);
    --tomatoCoder: tomato;
    --whiteColor: white;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
.container {
    width: 70%;
    margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--fontNunitoPrim);
    font-weight: 900;
}

p,
li,
address,
button, input {
    font-family: var(--fontRalewaySec);
    color: var(--grayColor);
}

/* header-area */
.header-area .background-img {
    background-image: url(images/banner/banner2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: right;
    align-items: center;
}
.background-img #flex-basis {
    text-align: right;
}
.background-img .tex-area {
    width: 650px;
    display: inline-block;
}
.background-img .tex-area h1 {
    font-size: 80px;
    line-height: 95px;
    margin-bottom: 20px;
}
.background-img p {
    line-height: 35px;
    font-size: 21px;
}
.background-img button {
    font-weight: 700;
    font-size: 18px;
    color: var(--whiteColor);
    background-color: var(--tomatoCoder);
    padding: 15px 25px;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
}


/* main */

/* person-and-failures */
main .person-and-failures {
    display: flex;
    justify-content: space-around;
    height: auto;
    align-items: center;
    margin-top: 150px;
}
main .failures {
    flex-basis: 30%;
    margin-top: 70px;
}
main .failures h1 {
    font-size: 38px;
    line-height: 45px;
    margin-bottom: 25px;
}
main .failures p {
    margin-bottom: 20px;
    line-height: 25px;
}

main li {
    margin-bottom: 15px;
}

main ul li img {
    width: 15px;
    margin-right: 3px;
}

/* plans */
.plans .headline h1 {
    font-size: 35px;
    margin-top: 150px;
    margin-bottom: 80px;
    text-align: center;
}

.plans .plan-items {
    margin-bottom: 150px;
    display: flex;
    justify-content: space-around;
}

.plans .plan-items {
    text-align: center;
}

.plans .plan-items p {
    margin-top: 10px;
    font-size: 21px;
}

/* hand-background-text */
.hand-background-text {
    background-image: url(images/gradient2.png), url(images/watch.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    border-radius: 10px 10px 10px 10px;
    position: relative;
}
.hand-background-text .text  {
    position: absolute;
    left: 70px;
    top: 70px;
}
.hand-background-text h1 {
    width: 700px;
    color: var(--whiteColor);
    font-size: 2.9em;
    line-height: 55px;
}
.hand-background-text button {
    font-weight: 700;
    font-size: 18px;
    color: var(--tomatoCoder);
    background-color: var(--whiteColor);
    padding: 15px 25px;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
}

/* footer */
footer .future-and-Subscribe p, address {
    color: var(--whiteColor);
}
footer {
    background-color: black;
    margin-top: 250px;
    color: var(--whiteColor);
    padding: 200px 0;
}
footer .flex-style {
    display: flex;
    justify-content: space-between;
}
footer .future-and-address {
    flex-basis: 500px;
}
footer h1 {
    font-size: 3em;
}
footer p {
    line-height: 30px;
    margin-bottom: 30px;
}
footer address {
    margin-bottom: 30px;
}
footer img {
    width: 40px;
    margin-right: 20px;
}
footer h2 {
    font-size: 1.7em;
    font-weight: 700;
}
footer input[type="email"] {
    border: 1px solid white;
    border-radius: 10px;
    font-size: 20px;
    background: black;
    color: white;
    padding: 15px 18px;
    margin: 30px 0 20px 0;
}
footer ::placeholder {
    color: var(--whiteColor);
}
footer button {
    font-weight: 700;
    font-size: 18px;
    color: var(--tomatoCoder);
    background-color: var(--whiteColor);
    padding: 12px 18px;
    border-radius: 5px;
    border: none;
}

